<div class="container py-4">
  <h1 class="mb-3">Series de TV</h1>
  <div class="table-responsive">
    <table class="table table-striped align-middle">
      <thead class="table-light">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Channel</th>
          <th>Seasons</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of series">
          <th scope="row">{{ s.id }}</th>
          <td>{{ s.name }}</td>
          <td>{{ s.channel }}</td>
          <td>{{ s.seasons }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p class="fw-bold mt-3">
    Promedio de temporadas: {{ averageSeasons | number:'1.0-2' }}
  </p>
</div>
